---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 100
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^"(client|common|concurrency|core|ipc|server)/.*"$'
    Priority: 2
  - Regex: '^".*"$'
    Priority: 3
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
TabWidth: 4
UseTab: Never
...
